*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #000;
    color: #fff;

}
.maincontainer{
    margin: 1rem auto;
    width: 85vw;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}
main{
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1.5rem;
}
.info{
    margin-left: 4rem;
}
.info p{
    margin-top: 0.8rem;
    font-size: 1.3rem;
}
.icon{
    color:#fff;
}
.mypic{
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    background-image: url(./image.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}
.email{
    margin-top: 5rem;
}
.email a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
}
.icon{
    cursor: pointer;
}
footer{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}
.footer{
    width:90vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: capitalize;

}
.footer a{
    padding-left: 1rem;
    padding-top: 0.25rem;
    text-decoration: none;
    color: #fff;
}